* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto, 'sans-serif';
    
    
    
}

.debug {
    border: 1px solid red;
}

main{
    
    overflow-x: hidden;
    
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    align-self: center;
    
    
    

}


header {
    background-color: #FFF159;
    padding-top: 7px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 21px;
    
 
    
    
}

section {
    display: flex;
    flex-direction: column;
    gap: 95px;
    background-color: #EBEBEB;
    margin: 0 auto;
    padding-bottom: 2%;
    
}

footer {
    display: flex;
    flex-direction: column;
    gap: 95px;
    background-color: #EBEBEB;
    margin: 0 auto;
    
    
}

.logo-barra {
    display: flex;
    flex-direction: row;
    justify-content: safe;
    padding-left: 8%;
    margin-top: 5px;

}

.header-a{
    display: flex;
    flex-direction: row;
    gap: 60px;
    
}
.space-btw {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    gap: 4px;
    margin-bottom: 0%;
    padding-right: 10%;
    padding-left: 9%;

}

.domicilio {
    
    margin-bottom: 11px;
    color: #333333;
    font-size: small;
    font-weight: 600;
}

.elementos-header {
    margin-bottom: 11px;
    color: #33333399;
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: space-between;
    text-size-adjust: 22px;
    gap: 15px;
}
.seccion-1{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    gap: 16px;
    border-radius: 6px;
    width: 100vw;
    height: 35vh;
    background-image: url(/media/semana-mujer.png);
}
.puntos-absolutos{
    
    position:relative;
    padding-left: 45%;
    padding-top: 15%;
   

}
.imagen-relativa{
    display: flex;
    padding-top: 0%;
    align-self: center;
    position: relative;
    

}

.icon-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: small;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-list {
    display: flex;
    gap: 24px;
    padding: 22px 10px;
    overflow-x: auto;
    justify-content: space-around;
    background-color: white;
    width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

.ver-mas {
    color: #3483FA;
    font-size: smaller;
}
.secciones-header{
    color: #666666;
    font-size: 26px;
    font-weight: 400;
    padding-right: 7px;
}
.icon-link>svg {
    border-radius: 50px;
    background-color: aliceblue;
}

.seccion-ofertas{
    display: flex;
    flex-direction: column; 
    gap: 24px;
    padding: 22px 10px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    margin-bottom: 2%;
}
.seccion-ofertas-header{
    display: flex;
    justify-content:flex-start;
    gap: 8px;
    align-items: baseline;
}
.seccion-general-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.card-ofertas{
    display: flex;
    flex-direction: column;
    gap: 11.8px;
    padding-bottom: 58px;
    background-color: white;
    width: 224px;

}
.card-ofertas-precio{
    color: #333333;
    font-size: 23px;
    font-weight:600;
    padding-left: 16px;
    
}
.card-ofertas-descuento{
    color: #00A650;
    font-size: 14px;
    padding-left: 11.28px;

}
.envio-gratis{
    color: #00A650;
    font-size: 13px;
    font-weight: bolder;
    padding-left: 16px;
}
.subscripcion{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 6px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 4%;
}
.subscripcion-header{
    display: flex;
    justify-content: space-between;
    height: 87px;
    background: rgb(110, 25, 96);
    background: linear-gradient(90deg, rgb(196, 41, 170) 0%, rgba(169,15,144,1) 56%, rgba(12,26,81,1) 100%);
    align-items: center;
    color: white;
    padding: 24px 24px;
}

.subscripcion-header-precios{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    padding-left: 10px;
    border-style:groove;
    border-right: #E6E6E6;
    border-top: #E6E6E6;
    border-bottom: #E6E6E6;
}

.subscripcion-iconos {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 25px;
    padding-right: 70px;
    overflow-x: auto;
    justify-content: space-between;
    width: 1200px;

    margin-bottom: 10px;
    margin-left: 0%;
}

.icono-subscripcion{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    
    justify-content:space-between;
}
.subscripcion-boton{
    display: flex;
    justify-content: flex-end;
    border-top: rgb(250, 250, 250);
    border-top-style: groove;
    border-top-width: 0.1px;
    
    padding: 15px 36px;
    padding-top: 5px;
}

.button {
    border: none;
    color:white;
    background-color: #3483FA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
  }

.mercado-puntos{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 22px 10px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
}
.card-mercado-puntos-1{
    display: flex;
    flex-direction: row;
    padding-top: 154px;
    padding-left: 16px;
    border-radius: 6px;
    gap: 16px;
    border-radius: 6px;
    padding-bottom: 58px;
    background-image: url(/media/mercadoPuntos1.jpg);
    background-size: 384px 250px;
    width: 384px;
    height: 250px;
    align-items: center;

}
.card-mercado-puntos-2{
    display: flex;
    flex-direction: row;
    padding-top: 154px;
    padding-left: 16px;
    border-radius: 6px;
    gap: 16px;
    border-radius: 6px;
    padding-bottom: 58px;
    background-image: url(/media/mercadoPuntos2.png);
    background-size: 384px 250px;
    width: 384px;
    height: 250px;
    align-items: center;

}
.card-mercado-puntos-3{
    display: flex;
    flex-direction: row;
    padding-top: 154px;
    padding-left: 16px;
    border-radius: 6px;
    gap: 16px;
    border-radius: 6px;
    padding-bottom: 58px;
    background-image: url(/media/mercadoPuntos3.jpg);
    background-size: 384px 250px;
    width: 384px;
    height: 250px;
    align-items: center;

}
.icono-mercado-puntos{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items:self-start;
    
    justify-content:end;
}
.seccion-descubre{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 22px 10px;
    padding-top: 5%;
    padding-bottom: 54px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    margin-bottom: 1%;
}
.card-descubre{
    display: flex;
    background-color: white;
    flex-direction: row;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: 6px;
    gap: 14px;
    border-radius: 6px;
    padding-bottom: 0px;
    width: 584px;
    height: 250px;
    justify-content: end;

}
.texto-card-descubre{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-top: 46px;
}
.button-descubre {
    border: none;
    color:white;
    background-color: #3483FA;
    padding: 12px 8px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 96px;
    height: 36px;
  }

.mejores-tiendas{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 22px 10px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    margin-bottom: 2%;
}
.card-mejores-tiendas{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    gap: 16px;
    border-radius: 6px;
    position: relative;


    background-color: white;
    width: 284px;
    height: 340px;
    align-items:baseline;
    justify-content:flex-start;

}
.mejores-tiendas-header{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items:self-start;
    position: absolute;
    padding-top: 55px;
    padding-left: 104px;

    justify-content:center;

}

.imagen-header{
    display: flex;
    padding-top: 0%;
    align-self: flex-start;
    position: relative;

}
.mejores-tiendas-items{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    padding: 10px 30px;
}


.seccion-colecciones{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 72px 10px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    margin-bottom: 1%;
}
.card-colecciones{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    gap: 20px;

    width: 383px;
    height: 384px;
    align-items:flex-start;
}
.colecciones-items-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.colecciones-items{
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;

}

.categorias-populares{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 22px 10px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
}
.categorias-populares-container{
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}
.categorias-populares-items{
    display: flex;
    flex-direction: row;
    gap: 1px;
    border-radius: 4px;

}

.card-categorias-populares{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 1px;

}
.otras-opciones{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    padding-top: 20px;
}
.otras-opciones-section{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 260px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;  
    background-color: #ffffff;
    padding-left: 12%;

}
.footer-info{
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    gap: 7px;
    padding-bottom: 15px;
    padding-right: 500px;
    border-bottom: rgb(255, 255, 255);
    border-bottom-style: groove;
    border: bottom width 0px;;
    border-top: rgb(255, 255, 255);
    border-top-style: groove;
    border: top width 0px;;



}
.footer-iconos{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 22px;
    gap: 11px;
}