* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto, 'sans-serif';
}

.debug {
    border: 1px solid red;
}

body {
    display: flex;
    height: 100vh;
    width: 100vh;


}


header {
    background-color: #FFF159;
}

section {
    background-color: #EBEBEB;
    margin: 0 auto;
}

footer {
    background-color: #E6E6E6;
}

.logo-barra {
    display: flex;
    flex-direction: row;
    justify-content: safe;
    padding-left: 166px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.space-btw {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 4px;

}

.domicilio {
    padding-left: 0px;
    margin-bottom: 11px;
    color: #333333;
    font-size: small;
    font-weight: 600;
}

.elementos-header {
    margin-bottom: 11px;
    color: #33333399;
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: space-between;
    text-size-adjust: 22px;
    gap: 12px;
}

.icon-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: small;
}

.lista {
    display: flex;
    flex-direction: column;
}

.icon-list {
    display: flex;
    gap: 24px;
    padding: 22px 10px;
    overflow-x: auto;
    justify-content: space-around;
    background-color: white;
    width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

.ver-mas {
    color: #3483FA;
    font-size: smaller;
}
.secciones-header{
    color: #666666;
    font-size:large;
    font-weight: 400;
}
.icon-link>svg {
    fill: #0864EE;
    border-radius: 50px;
    background-color: aliceblue;
}

.seccion-ofertas{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 22px 10px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
}
.seccion-ofertas-header{
    display: flex;
    justify-content:flex-start;
    gap: 8px;
    align-items: baseline;
}
.seccion-ofertas-container{
    display: flex;
    gap: 16px;
}
.card-ofertas{
    display: flex;
    flex-direction: column;
    gap: 11.8px;
    padding-bottom: 58px;
    background-color: white;
    width: 224px;

}
.card-ofertas-precio{
    color: #333333;
    font-size: 23px;
    font-weight:600;
    padding-left: 16px;
    
}
.card-ofertas-descuento{
    color: #00A650;
    font-size: 14px;
    padding-left: 11.28px;

}
.envio-gratis{
    color: #00A650;
    font-size: 13px;
    font-weight: bolder;
    padding-left: 16px;
}
.subscripcion{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 6px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
.subscripcion-header{
    display: flex;
    justify-content: space-between;
    height: 87px;
    background: rgb(77,6,65);
    background: linear-gradient(90deg, rgba(77,6,65,1) 0%, rgba(169,15,144,1) 56%, rgba(12,26,81,1) 100%);
    align-items: center;
    color: white;
    padding: 24px 24px;
}

.subscripcion-header-precios{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    padding-left: 10px;
    border-style:groove;
    border-right: #E6E6E6;
    border-top: #E6E6E6;
    border-bottom: #E6E6E6;
}

.subscripcion-iconos {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 25px;
    padding-right: 70px;
    overflow-x: auto;
    justify-content: space-between;
    width: 1200px;

    margin-bottom: 10px;
    margin-left: 0%;
}

.icono-subscripcion{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    
    justify-content:space-between;
}
.subscripcion-boton{
    display: flex;
    justify-content: flex-end;
    
    padding: 15px 36px;
    padding-top: 5px;
}

.button {
    border: none;
    color:white;
    background-color: #3483FA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
  }